In [284]:
# importing the required libraries
from bs4 import BeautifulSoup
import requests
import selenium
import time
import pandas as pd
from selenium import webdriver

1.Scrape the details of most viewed videos on YouTube from Wikipedia: Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/ You need to find following details: A) Rank B) Name C) Artist D) Upload date E) Views

In [285]:
#Opening the Chromedriver
driver = webdriver.Chrome("chromedriver.exe")

In [286]:
#Opening the website 
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [419]:
#Scraping the rank by passing the xpath
rank = driver.find_elements_by_xpath('//td[@align="center"][1]')
Rank=[]
for i in rank:
    Rank.append(i.text)
#Scraping the rank by passing the xpath
name = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]/a')
# Making a list and storing all the scraped data into it
Name=[]
for i in name:
    if i.text is None :
        Name.append("-") 
    else:
        Name.append(i.text)
#Scraping the artist by passing the xpath    
upload = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')
# Making a list and storing all the scraped data into it
Uploader=[]
for i in upload:
    if i.text is None :
        Uploader.append("-") 
    else:
        Uploader.append(i.text)
#Scraping the views by passing the xpath        
view=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')
# Making a list and storing all the scraped data into it
Views=[]
for i in view:
    Views.append(i.text)
#Scraping the date by passing the xpath            
date=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')
# Making a list and storing all the scraped data into it
Date=[]
for i in date:
    Date.append(i.text)

In [420]:

print(len(Rank),len(Date),len(Views),len(Uploader),len(Name))

49 49 49 49 39

In [421]:
#Saving all the scraped data into a dataframe(YT)
YT=pd.DataFrame({})
YT['Rank']=Rank
YT['Artist']=Uploader
YT['Views']=Views
YT['Date']=Date

In [422]:
#Viewing the DataFrame
YT

,Rank,Artist,Views,Date
0,1.,Pinkfong Kids' Songs & Stories,8.09,"June 17, 2016"
1,2.,Luis Fonsi,7.24,"January 12, 2017"
2,3.,Ed Sheeran,5.21,"January 30, 2017"
3,4.,Wiz Khalifa,4.99,"April 6, 2015"
4,5.,LooLoo Kids,4.90,"October 8, 2016"
5,6.,Get Movies,4.42,"January 31, 2012"
6,7.,Mark Ronson,4.11,"November 19, 2014"
7,8.,Psy,4.00,"July 15, 2012"
8,9.,Miroshka TV,3.74,"February 27, 2018"
9,10.,Cocomelon – Nursery Rhymes,3.74,"May 2, 2018"
10,11.,ChuChu TV,3.60,"March 6, 2014"
11,12.,Justin Bieber,3.41,"October 22, 2015"
12,13.,Maroon 5,3.41,"January 14, 2015"
13,14.,Katy Perry,3.29,"September 5, 2013"
14,15.,OneRepublic,3.21,"May 31, 2013"
15,16.,Ed Sheeran,3.20,"October 7, 2014"
16,17.,El Chombo,3.15,"April 5, 2018"
17,18.,Taylor Swift,3.03,"August 18, 2014"
18,19.,Alan Walker,3.00,"December 3, 2015"
19,20.,Katy Perry,2.99,"February 20, 2014"
20,21.,Major Lazer Official,2.99,"March 22, 2015"
21,22.,Enrique Iglesias,2.98,"April 11, 2014"
22,23.,Maroon 5,2.97,"May 31, 2018"
23,24.,Passenger,2.93,"July 25, 2012"
24,25.,J Balvin,2.88,"June 29, 2017"
25,26.,Adele,2.80,"October 22, 2015"
26,27.,Ed Sheeran,2.76,"November 9, 2017"
27,28.,Shakira,2.76,"June 4, 2010"
28,29.,Taylor Swift,2.73,"November 10, 2014"
29,30.,Shakira,2.63,"November 18, 2016"
30,,"7,037,500,000","June 17, 2016","November 2, 2020"
31,[113],"2,993,700,000","January 12, 2017","August 4, 2017"
32,[27],"2,894,000,000","April 6, 2015","July 10, 2017"
33,[33],"803,700,000","July 15, 2012","November 24, 2012"
34,[114],"245,400,000","February 19, 2010","July 16, 2010"
35,93,"178,400,000","November 24, 2009","April 14, 2010"
36,171,"128,900,000","May 22, 2007","October 25, 2009"
37,176,"118,900,000","April 6, 2006","May 2, 2009"
38,289,"92,600,000","February 27, 2007","July 17, 2008"
39,124,"78,400,000","April 6, 2006","March 15, 2008"
40,14,"76,600,000","April 9, 2007","March 1, 2008"
41,[130],"10,600,000","April 6, 2006","May 19, 2006"
42,68,"4,300,000","November 28, 2005","March 12, 2006"
43,22,"2,700,000","January 31, 2006","February 18, 2006"
44,28,"3,400,000","December 1, 2005","January 21, 2006"
45,12,"2,300,000","December 18, 2005","January 9, 2006"
46,[143],"255,000","October 21, 2005","October 31, 2005"
47,[146],"247,000","October 5, 2005","October 29, 2005"
48,[147],1,"April 23, 2005","April 23, 2005"

In [423]:
# Dropping the useless rows
YT.drop(YT.index[[30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48]], inplace=True)

In [424]:
#Viewing the DataFrame after dropping useless rows
YT

   Rank                          Artist Views               Date
0    1.  Pinkfong Kids' Songs & Stories  8.09      June 17, 2016
1    2.                      Luis Fonsi  7.24   January 12, 2017
2    3.                      Ed Sheeran  5.21   January 30, 2017
3    4.                     Wiz Khalifa  4.99      April 6, 2015
4    5.                     LooLoo Kids  4.90    October 8, 2016
5    6.                      Get Movies  4.42   January 31, 2012
6    7.                     Mark Ronson  4.11  November 19, 2014
7    8.                             Psy  4.00      July 15, 2012
8    9.                     Miroshka TV  3.74  February 27, 2018
9   10.      Cocomelon – Nursery Rhymes  3.74        May 2, 2018
10  11.                       ChuChu TV  3.60      March 6, 2014
11  12.                   Justin Bieber  3.41   October 22, 2015
12  13.                        Maroon 5  3.41   January 14, 2015
13  14.                      Katy Perry  3.29  September 5, 2013
14  15.                     OneRepublic  3.21       May 31, 2013
15  16.                      Ed Sheeran  3.20    October 7, 2014
16  17.                       El Chombo  3.15      April 5, 2018
17  18.                    Taylor Swift  3.03    August 18, 2014
18  19.                     Alan Walker  3.00   December 3, 2015
19  20.                      Katy Perry  2.99  February 20, 2014
20  21.            Major Lazer Official  2.99     March 22, 2015
21  22.                Enrique Iglesias  2.98     April 11, 2014
22  23.                        Maroon 5  2.97       May 31, 2018
23  24.                       Passenger  2.93      July 25, 2012
24  25.                        J Balvin  2.88      June 29, 2017
25  26.                           Adele  2.80   October 22, 2015
26  27.                      Ed Sheeran  2.76   November 9, 2017
27  28.                         Shakira  2.76       June 4, 2010
28  29.                    Taylor Swift  2.73  November 10, 2014
29  30.                         Shakira  2.63  November 18, 2016

In [429]:
#Making a final DataFrame and storing in YT_final
YT_final=pd.DataFrame({})
YT_final['Rank']=Rank[:29]
YT_final['Video Name']=Name[:29]
YT_final['Artist']=Uploader[:29]
YT_final['Views']=Views[:29]
YT_final['Date']=Date[:29]

In [430]:
#Viewing YT_final
YT_final

,Rank,Video Name,Artist,Views,Date
0,1.,Baby Shark Dance,Pinkfong Kids' Songs & Stories,8.09,"June 17, 2016"
1,2.,Despacito,Luis Fonsi,7.24,"January 12, 2017"
2,3.,Shape of You,Ed Sheeran,5.21,"January 30, 2017"
3,4.,See You Again,Wiz Khalifa,4.99,"April 6, 2015"
4,5.,Johny Johny Yes Papa,LooLoo Kids,4.90,"October 8, 2016"
5,6.,Uptown Funk,Get Movies,4.42,"January 31, 2012"
6,7.,Gangnam Style,Mark Ronson,4.11,"November 19, 2014"
7,8.,Sorry,Psy,4.00,"July 15, 2012"
8,9.,Sugar,Miroshka TV,3.74,"February 27, 2018"
9,10.,Roar,Cocomelon – Nursery Rhymes,3.74,"May 2, 2018"
10,11.,Counting Stars,ChuChu TV,3.60,"March 6, 2014"
11,12.,Thinking Out Loud,Justin Bieber,3.41,"October 22, 2015"
12,13.,Dame Tu Cosita,Maroon 5,3.41,"January 14, 2015"
13,14.,Shake It Off,Katy Perry,3.29,"September 5, 2013"
14,15.,Faded,OneRepublic,3.21,"May 31, 2013"
15,16.,Dark Horse,Ed Sheeran,3.20,"October 7, 2014"
16,17.,Lean On,El Chombo,3.15,"April 5, 2018"
17,18.,Bailando,Taylor Swift,3.03,"August 18, 2014"
18,19.,Girls Like You,Alan Walker,3.00,"December 3, 2015"
19,20.,Let Her Go,Katy Perry,2.99,"February 20, 2014"
20,21.,Mi Gente,Major Lazer Official,2.99,"March 22, 2015"
21,22.,Hello,Enrique Iglesias,2.98,"April 11, 2014"
22,23.,Perfect,Maroon 5,2.97,"May 31, 2018"
23,24.,Waka Waka (This Time for Africa),Passenger,2.93,"July 25, 2012"
24,25.,Blank Space,J Balvin,2.88,"June 29, 2017"
25,26.,Chantaje,Adele,2.80,"October 22, 2015"
26,27.,Pinkfong,Ed Sheeran,2.76,"November 9, 2017"
27,28.,Luis Fonsi,Shakira,2.76,"June 4, 2010"
28,29.,Wiz Khalifa,Taylor Swift,2.73,"November 10, 2014"

In [431]:
#Viewing the scraped data without index
print(YT.to_string(index=False))

Rank                          Artist Views               Date
  1.  Pinkfong Kids' Songs & Stories  8.09      June 17, 2016
  2.                      Luis Fonsi  7.24   January 12, 2017
  3.                      Ed Sheeran  5.21   January 30, 2017
  4.                     Wiz Khalifa  4.99      April 6, 2015
  5.                     LooLoo Kids  4.90    October 8, 2016
  6.                      Get Movies  4.42   January 31, 2012
  7.                     Mark Ronson  4.11  November 19, 2014
  8.                             Psy  4.00      July 15, 2012
  9.                     Miroshka TV  3.74  February 27, 2018
 10.      Cocomelon – Nursery Rhymes  3.74        May 2, 2018
 11.                       ChuChu TV  3.60      March 6, 2014
 12.                   Justin Bieber  3.41   October 22, 2015
 13.                        Maroon 5  3.41   January 14, 2015
 14.                      Katy Perry  3.29  September 5, 2013
 15.                     OneRepublic  3.21       May 31, 2013
 16.                      Ed Sheeran  3.20    October 7, 2014
 17.                       El Chombo  3.15      April 5, 2018
 18.                    Taylor Swift  3.03    August 18, 2014
 19.                     Alan Walker  3.00   December 3, 2015
 20.                      Katy Perry  2.99  February 20, 2014
 21.            Major Lazer Official  2.99     March 22, 2015
 22.                Enrique Iglesias  2.98     April 11, 2014
 23.                        Maroon 5  2.97       May 31, 2018
 24.                       Passenger  2.93      July 25, 2012
 25.                        J Balvin  2.88      June 29, 2017
 26.                           Adele  2.80   October 22, 2015
 27.                      Ed Sheeran  2.76   November 9, 2017
 28.                         Shakira  2.76       June 4, 2010
 29.                    Taylor Swift  2.73  November 10, 2014
 30.                         Shakira  2.63  November 18, 2016

In [432]:
#Closing the driver
driver.close()

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1
st ODI)
B) Series
C) Place
D) Date
E) Time

In [38]:
# Opening the Chromedriver
driver = webdriver.Chrome("chromedriver.exe")

In [39]:
# Opening the homepage of bcci website
driver.get("https://www.bcci.tv/")
# Clickking on drop down navigation bar On International
driver.find_element_by_xpath("//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']").click()
# Selecting the Fixtures from International
driver.find_element_by_xpath("/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]/div/ul/li[1]/a").click()

In [40]:
# Creating lists of each column
Match=[]
Place=[]
Series=[]
Time=[]
Date=[]
Month=[]

# Scraping the title by passing xpath
match=driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']")
# Appending all the match titles to the list (Match) using for loop
for i in match:
    Match.append(i.text)
# Scraping the place by passing xpath
place = driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span")
# Appending all the places to the list (Place) using for loop
for i in place:
    Place.append(i.text)
# Scraping the Series by passing xpath
series=driver.find_elements_by_xpath("//div[@class='fixture__info u-skewed']/div[1]/span[1]")
# Appending all the Series to the list (Series) using for loop
for i in series:
    Series.append(i.text)
# Scraping the time by passing xpath
time=driver.find_elements_by_xpath("//div[@class='fixture__date-details']/span[2]")
# Appending all the match timings to the list (Time) using for loop
for i in time:
    Time.append(i.text)
# Scraping the date by passing xpath
date=driver.find_elements_by_xpath("//div[@class='fixture__full-date']/span")
Date=[]
# Appending all the match dates to the list (Date) using for loop
for i in date:
    Date.append(i.text)
# Scraping the month by passing xpath
month=driver.find_elements_by_xpath("//div[@class='fixture__date-details']/span[1]")
# Appending all the months to the list (Month) using for loop
for i in month:
    Month.append(i.text)

In [41]:
#Saving all the scraped data into a dataframe named BCCI
BCCI=pd.DataFrame({})
BCCI['Match Title']=Match
BCCI['Series']=Series
BCCI['Place']=Place
BCCI['Date']=Date
BCCI['Month']=Month
BCCI['Time']=Time
# Viewing the Scraped data
BCCI

,Match Title,Series,Place,Date,Month,Time
0,4th Test,TEST,"Narendra Modi Stadium, Ahmedabad",04,MARCH,09:30 IST
1,1st T20I,T20I,"Narendra Modi Stadium, Ahmedabad",12,MARCH,19:00 IST
2,2nd T20I,T20I,"Narendra Modi Stadium, Ahmedabad",14,MARCH,19:00 IST
3,3rd T20I,T20I,"Narendra Modi Stadium, Ahmedabad",16,MARCH,19:00 IST
4,4th T20I,T20I,"Narendra Modi Stadium, Ahmedabad",18,MARCH,19:00 IST
5,5th T20I,T20I,"Narendra Modi Stadium, Ahmedabad",20,MARCH,19:00 IST
6,1st ODI,ODI,"Maharashtra Cricket Association Stadium, Pune",23,MARCH,13:30 IST
7,2nd ODI,ODI,"Maharashtra Cricket Association Stadium, Pune",26,MARCH,13:30 IST
8,3rd ODI,ODI,"Maharashtra Cricket Association Stadium, Pune",28,MARCH,13:30 IST
9,1st Test,TEST,"Trent Bridge, Nottingham",04,AUGUST,15:30 IST
10,2nd Test,TEST,"Lord's, London",12,AUGUST,15:30 IST
11,3rd Test,TEST,"Headingley, Leeds",25,AUGUST,15:30 IST
12,4th Test,TEST,"The Oval, London",02,SEPTEMBER,15:30 IST
13,5th Test,TEST,"Old Trafford, Manchester",10,SEPTEMBER,15:30 IST

In [44]:
# Closing the Chromedriver
driver.close()

3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description

In [3]:
# Opening the Chromedriver
driver = webdriver.Chrome("chromedriver.exe")

In [13]:
# Opening the homepage of guru99 website
driver.get("https://www.guru99.com/")

In [15]:
# Clicking on Selenium 
driver.find_element_by_xpath('//ul[@class="menu"]/li[3]').click()

In [16]:
# Clicking on Selenium Exception Handling (Common Exceptions List)
driver.find_element_by_xpath('//*[@id="g-mainbar"]/div/div/div/div/div/div/div[2]/table[5]/tbody/tr[34]/td[1]').click()

In [17]:
#Scraping the names by passing xpath
name=driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[1]')
#Scraping the description by passing xpath
desc=driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[2]')
# Making list named "Name" and appending all the exception names into it
Name=[]
for i in name:
    Name.append(i.text)

# Making list named "Desc" and appending all the Description of all the exceptions into it
Desc=[]
for i in desc:
    Desc.append(i.text)

In [18]:
# Saving all the scraped data into a DataFrame named "Exceptions"
Exceptions=pd.DataFrame({})
Exceptions['Name']=Name
Exceptions['Description']=Desc
# Viewing the DataFrame(Exceptions)
Exceptions

,Name,Description
0,Exception name,Description
1,ElementNotVisibleException,This type of Selenium exception occurs when an...
2,ElementNotSelectableException,This Selenium exception occurs when an element...
3,NoSuchElementException,This Exception occurs if an element could not ...
4,NoSuchFrameException,This Exception occurs if the frame target to b...
5,NoAlertPresentException,This Exception occurs when you switch to no pr...
6,NoSuchWindowException,This Exception occurs if the window target to ...
7,StaleElementReferenceException,This Selenium exception occurs happens when th...
8,SessionNotFoundException,The WebDriver is acting after you quit the bro...
9,TimeoutException,Thrown when there is not enough time for a com...
10,WebDriverException,This Exception takes place when the WebDriver ...
11,ConnectionClosedException,This type of Exception takes place when there ...
12,ElementClickInterceptedException,The command may not be completed as the elemen...
13,ElementNotInteractableException,This Selenium exception is thrown when any ele...
14,ErrorInResponseException,This happens while interacting with the Firefo...
15,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
16,ImeActivationFailedException,This expectation will occur when IME engine ac...
17,ImeNotAvailableException,It takes place when IME support is unavailable.
18,InsecureCertificateException,Navigation made the user agent to hit a certif...
19,InvalidArgumentException,It occurs when an argument does not belong to ...
20,InvalidCookieDomainException,This happens when you try to add a cookie unde...
21,InvalidCoordinatesException,This type of Exception matches an interacting ...
22,InvalidElementStateExceptio,It occurs when command can't be finished when ...
23,InvalidSessionIdException,This Exception took place when the given sessi...
24,InvalidSwitchToTargetException,This occurs when the frame or window target to...
25,JavascriptException,This issue occurs while executing JavaScript g...
26,JsonException,It occurs when you afford to get the session w...
27,NoSuchAttributeException,This kind of Exception occurs when the attribu...
28,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
29,NoSuchContextException,ContextAware does mobile device testing.
30,NoSuchCookieException,This Exception occurs when no cookie matching ...
31,NotFoundException,This Exception is a subclass of WebDriverExcep...
32,RemoteDriverServerException,This Selenium exception is thrown when the ser...
33,ScreenshotException,It is not possible to capture a screen.
34,SessionNotCreatedException,It happens when a new session could not be suc...
35,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
36,UnexpectedTagNameException,Happens if a support class did not get a web e...
37,UnhandledAlertException,This expectation occurs when there is an alert...
38,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
39,UnknownMethodException,This Exception happens when the requested comm...
40,UnreachableBrowserException,This Exception occurs only when the browser is...
41,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

In [209]:
#Closing the driver
driver.close()

4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(19-20)
E) Share
F) GDP

In [433]:
# Opening the Chromedriver
driver = webdriver.Chrome("chromedriver.exe")

In [434]:
driver.get("http://statisticstimes.com/")

In [435]:
# Clicking on Read more
driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[2]/p[2]/a").click()

In [436]:
# Clicking on Economy
driver.find_element_by_xpath("//div[@class='navbar']/div[2]/button").click()
time.sleep(20)

In [437]:
# Clicking on India from dropdown options of economy
driver.find_element_by_xpath('//*[@id="top"]/div[2]/div[2]/div/a[3]').click()

In [438]:
# For clicking on GDP of Indian States
GDP_India =driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
GDP_India.click()

In [439]:
#start and end for scraping SGDP
tr_start=0
tr_end=33

In [440]:
# Scraping the rank by passing xpath
rank = driver.find_elements_by_xpath('//td[@class="data1"]')
# Scraping the state by passing xpath
state=driver.find_elements_by_xpath('//td[@class="name"]')
# Scraping the GSDPs of year 18 & 19 by passing xpath
gsdp_1819=driver.find_elements_by_xpath('//tr[@role="row"]/td[4]')
# Scraping the GSDPs of year 19 &20 by passing xpath
gsdp_1920=driver.find_elements_by_xpath('//tr[@role="row"]/td[3]')
# Scraping the GDP of each state by passing xpath
gdp=driver.find_elements_by_xpath('//tr[@role="row"]/td[6]')
# Scraping the share of state by passing xpath
share=driver.find_elements_by_xpath('//tr[@role="row"]/td[5]')

# Making  a list named Rank and appending all the ranks in it
Rank=[]
for i in rank[tr_start:tr_end]:
    Rank.append(i.text)

state=driver.find_elements_by_xpath('//td[@class="name"]')
# Making  a list named State and appending all the states in it
State=[]
for i in state[tr_start:tr_end]:
    State.append(i.text)
# Making  a list named GSDP_1819 and appending all the GSDPs of year 18 & 19  in it
GSDP_1819=[]
for i in gsdp_1819[tr_start:tr_end]:
    GSDP_1819.append(i.text)
# Making  a list named GSDP_1920 and appending all the GSDPs of year 19 & 20  in it   
GSDP_1920=[]
for i in gsdp_1920[tr_start:tr_end]:
    GSDP_1920.append(i.text)
    
# Making  a list named Share and appending all the states shares in it
Share=[]
for i in share[tr_start:tr_end]:
    Share.append(i.text)
# Making  a list named GDP and appending all the states GDP in it    
GDP=[]
for i in gdp[tr_start:tr_end]:
    GDP.append(i.text)

In [441]:
#Checking for the length for each column
print(len(Rank),len(State),len(GSDP_1819),len(GSDP_1819),len(Share),len(GDP))

33 33 33 33 33 33

In [442]:
#Saving all the scraped data into a DataFrame
Stats=pd.DataFrame({})
Stats['Rank']=Rank
Stats['State']=State
Stats['GSDP_1819']=GSDP_1819
Stats['GSDP_1920']=GSDP_1920
Stats['Share']=Share
Stats['GDP($ billion)']=GDP
#Viewing the DataFrame
Stats

,Rank,State,GSDP_1819,GSDP_1920,Share,GDP($ billion)
0,1,Maharashtra,"2,632,792",-,13.88%,398.145
1,2,Tamil Nadu,"1,630,208","1,845,853",8.59%,246.529
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.35%,239.656
3,4,Gujarat,"1,502,899",-,7.92%,227.276
4,5,Karnataka,"1,493,127","1,631,977",7.87%,225.798
5,6,West Bengal,"1,089,898","1,253,832",5.75%,164.820
6,7,Rajasthan,"942,586","1,020,989",4.97%,142.543
7,8,Andhra Pradesh,"862,957","972,782",4.55%,130.501
8,9,Telangana,"861,031","969,604",4.54%,130.210
9,10,Madhya Pradesh,"809,592","906,672",4.27%,122.431
10,11,Kerala,"781,653",-,4.12%,118.206
11,12,Delhi,"774,870","856,112",4.08%,117.180
12,13,Haryana,"734,163","831,610",3.87%,111.024
13,14,Bihar,"530,363","611,804",2.80%,80.204
14,15,Punjab,"526,376","574,760",2.77%,79.601
15,16,Odisha,"487,805","521,275",2.57%,73.768
16,17,Assam,"315,881",-,1.67%,47.769
17,18,Chhattisgarh,"304,063","329,180",1.60%,45.982
18,19,Jharkhand,"297,204","328,598",1.57%,44.945
19,20,Uttarakhand,"245,895",-,1.30%,37.186
20,21,Jammu & Kashmir,"155,956",-,0.82%,23.584
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.265
22,23,Goa,"73,170","80,449",0.39%,11.065
23,24,Tripura,"49,845","55,984",0.26%,7.538
24,25,Chandigarh,"42,114",-,0.22%,6.369
25,26,Puducherry,"34,433","38,253",0.18%,5.207
26,27,Meghalaya,"33,481","36,572",0.18%,5.063
27,28,Sikkim,"28,723","32,496",0.15%,4.344
28,29,Manipur,"27,870","31,790",0.15%,4.215
29,30,Nagaland,"27,283",-,0.14%,4.126
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.721
31,32,Mizoram,"22,287","26,503",0.12%,3.370
32,33,Andaman & Nicobar Islands,-,-,-,-

In [443]:
#Viewing the scraped data without index
print(Stats.to_string(index=False))

Rank                      State  GSDP_1819  GSDP_1920   Share GDP($ billion)
   1                Maharashtra  2,632,792          -  13.88%        398.145
   2                 Tamil Nadu  1,630,208  1,845,853   8.59%        246.529
   3              Uttar Pradesh  1,584,764  1,687,818   8.35%        239.656
   4                    Gujarat  1,502,899          -   7.92%        227.276
   5                  Karnataka  1,493,127  1,631,977   7.87%        225.798
   6                West Bengal  1,089,898  1,253,832   5.75%        164.820
   7                  Rajasthan    942,586  1,020,989   4.97%        142.543
   8             Andhra Pradesh    862,957    972,782   4.55%        130.501
   9                  Telangana    861,031    969,604   4.54%        130.210
  10             Madhya Pradesh    809,592    906,672   4.27%        122.431
  11                     Kerala    781,653          -   4.12%        118.206
  12                      Delhi    774,870    856,112   4.08%        117.180
  13                    Haryana    734,163    831,610   3.87%        111.024
  14                      Bihar    530,363    611,804   2.80%         80.204
  15                     Punjab    526,376    574,760   2.77%         79.601
  16                     Odisha    487,805    521,275   2.57%         73.768
  17                      Assam    315,881          -   1.67%         47.769
  18               Chhattisgarh    304,063    329,180   1.60%         45.982
  19                  Jharkhand    297,204    328,598   1.57%         44.945
  20                Uttarakhand    245,895          -   1.30%         37.186
  21            Jammu & Kashmir    155,956          -   0.82%         23.584
  22           Himachal Pradesh    153,845    165,472   0.81%         23.265
  23                        Goa     73,170     80,449   0.39%         11.065
  24                    Tripura     49,845     55,984   0.26%          7.538
  25                 Chandigarh     42,114          -   0.22%          6.369
  26                 Puducherry     34,433     38,253   0.18%          5.207
  27                  Meghalaya     33,481     36,572   0.18%          5.063
  28                     Sikkim     28,723     32,496   0.15%          4.344
  29                    Manipur     27,870     31,790   0.15%          4.215
  30                   Nagaland     27,283          -   0.14%          4.126
  31          Arunachal Pradesh     24,603          -   0.13%          3.721
  32                    Mizoram     22,287     26,503   0.12%          3.370
  33  Andaman & Nicobar Islands          -          -       -              -

In [444]:
#Closing the driver
driver.close()

5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [4]:
# Opening the Chromedriver
driver = webdriver.Chrome("chromedriver.exe")

In [333]:
#Opening the github website
driver.get("https://github.com/")
time.sleep(10)

In [334]:
# Clicking on the Explore drop down options
explore = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary')
explore.click()

In [335]:
# Clicking on "Trending" option
trending=driver.find_element_by_xpath('//ul[@class="list-style-none mb-3"]/li')
trending.click()

In [339]:
# Clicking on "Trending" option through dropdown options of Explore button
driver.find_element_by_xpath('//div[@class="d-flex flex-wrap flex-items-center flex-justify-center flex-md-justify-start text-center text-md-left"]/a[3]').click()

In [341]:
# Scraping the titles of each repository
title = driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")

# Making list named "Title" and appending all the titles into it
Title=[]
for i in title:
    Title.append(i.text)

# Scraping the description of each repository
desc=driver.find_elements_by_xpath("//p[@class='col-9 color-text-secondary my-1 pr-4']")
# Making list named "Desc" and appending all the descriptions into it
Desc=[]
for i in desc:
    if i.text is None :
        Desc.append("-") 
    else:
        Desc.append(i.text)
# Scraping the contributors of each repository        
cont=driver.find_elements_by_xpath("//div[@class='f6 color-text-secondary mt-2']/a[2]")
# Making list named "Contributors" and appending all the contributors count into it
Contributors=[]
for i in cont:
    if i.text is None :
        Contributors.append("-") 
    else:
        Contributors.append(i.text)
# Scraping the programming languages of each repository        
lang = driver.find_elements_by_xpath("//span[@class='d-inline-block ml-0 mr-3']")
# Making list named "Language" and appending all the languages into it
Language=[]    
for i in lang:
    if i.text is None :
        Language.append("-") 
    else:
        Language.append(i.text)

In [342]:
#Checking the length of each list
print(len(Title),len(Desc),len(Contributors),len(Language))

25 24 25 20

In [343]:
#Saving all the scraped data into a DataFrame(GitHub)
GitHub=pd.DataFrame({})
GitHub['Title']=Title[:20]
GitHub['Desc']=Desc[:20]
GitHub['Contributors Count']=Contributors[:20]
GitHub['Language']=Language[:20]
#Viewing the DataFrame
GitHub

,Title,Desc,Contributors Count,Language
0,dolthub / dolt,Dolt – It's Git for Data,111,Go
1,openai / CLIP,Contrastive Language-Image Pretraining,218,Jupyter Notebook
2,google / googletest,Googletest - Google Testing and Mocking Framework,"7,270",C++
3,flutter / flutter,Flutter makes it easy and fast to build beauti...,"16,403",Dart
4,git / git,Git Source Code Mirror - This is a publish-onl...,"21,041",C
5,dwisiswant0 / apkleaks,"Scanning APK file for URIs, endpoints & secrets.",110,Python
6,coolsnowwolf / lede,Lean's OpenWrt source,"13,239",C
7,Developer-Y / cs-video-courses,List of Computer Science courses with video le...,"3,009",Dart
8,gskinnerTeam / flutter-folio,"A platform adaptive Flutter app for desktop, m...",186,Python
9,connor-create / wsbtrades,D2Go is a toolkit for efficient deep learning,23,Python
10,facebookresearch / d2go,Exchange Server support tools and scripts,17,PowerShell
11,microsoft / CSS-Exchange,Unit testing tips by examples in PHP,44,Ruby
12,sarven / unit-testing-tips,A curated list of engineering blogs,8,PowerShell
13,kilimchoi / engineering-blogs,AZ-104 Microsoft Azure Administrator,286,JavaScript
14,MicrosoftLearning / AZ-104-MicrosoftAzureAdmin...,A Collection of application ideas which can be...,"1,173",Rust
15,florinpop17 / app-ideas,📝 Algorithms and data structures implemented i...,"5,257",Ruby
16,trekhleb / javascript-algorithms,翻墙、免费翻墙、免费科学上网、免费节点、免费梯子、免费ss/ssr/v2ray/trojan...,"16,420",Rust
17,freefq / free,A new type of shell,"1,256",TypeScript
18,nushell / nushell,A sustainable architecture for Ruby on Rails.,519,Python
19,Shopify / upgrow,Must-read papers on graph neural networks (GNN),14,Shell

In [344]:
#Dropping the rows which are not present
GitHub.drop(GitHub.index[[10,8,13,16,18]], inplace=True)
#Viewing the DataFrame
GitHub

,Title,Desc,Contributors Count,Language
0,dolthub / dolt,Dolt – It's Git for Data,111,Go
1,openai / CLIP,Contrastive Language-Image Pretraining,218,Jupyter Notebook
2,google / googletest,Googletest - Google Testing and Mocking Framework,"7,270",C++
3,flutter / flutter,Flutter makes it easy and fast to build beauti...,"16,403",Dart
4,git / git,Git Source Code Mirror - This is a publish-onl...,"21,041",C
5,dwisiswant0 / apkleaks,"Scanning APK file for URIs, endpoints & secrets.",110,Python
6,coolsnowwolf / lede,Lean's OpenWrt source,"13,239",C
7,Developer-Y / cs-video-courses,List of Computer Science courses with video le...,"3,009",Dart
9,connor-create / wsbtrades,D2Go is a toolkit for efficient deep learning,23,Python
11,microsoft / CSS-Exchange,Unit testing tips by examples in PHP,44,Ruby
12,sarven / unit-testing-tips,A curated list of engineering blogs,8,PowerShell
14,MicrosoftLearning / AZ-104-MicrosoftAzureAdmin...,A Collection of application ideas which can be...,"1,173",Rust
15,florinpop17 / app-ideas,📝 Algorithms and data structures implemented i...,"5,257",Ruby
17,freefq / free,A new type of shell,"1,256",TypeScript
19,Shopify / upgrow,Must-read papers on graph neural networks (GNN),14,Shell

In [ ]:
#Closing the driver
driver.close()

6. Scrape the details of top 100 songs on billiboard.com.
Url = https://www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

In [350]:
# Opening the Chromedriver
driver = webdriver.Chrome("chromedriver.exe")

In [351]:
#Opening the billboard website
driver.get("https://www.billboard.com/ ")
time.sleep(30)

In [355]:
#Clicking on Charts
driver.find_element_by_xpath('//*[@id="root"]/div[2]/div[2]/header/div/ul/li[1]/a').click()

In [356]:
#Clicking on Hot 100
driver.find_element_by_xpath('//div[@class="charts-landing__info--view-chart-holder"]').click()

In [357]:
#Clicking on Hot 100 chart
driver.find_element_by_xpath('//div[@class="charts-landing__info--top charts-landing__info--top--hot-100"]').click()

In [358]:
#Scraping the song name by passing xpath
song= driver.find_elements_by_xpath('//span[@class="chart-element__information__song text--truncate color--primary"]')

#Making a list and storing all the scraped data into it
Song=[]
for i in song:
    if i.text is None :
        Song.append("-")
    else:
        Song.append(i.text)
        
#Scraping the artist name by passing xpath
artist=driver.find_elements_by_xpath('//span[@class="chart-element__information__artist text--truncate color--secondary"]')

#Making a list and storing all the scraped data into it
Artist=[]
for i in artist:
    if i.text is None :
        Artist.append("-")
    else:
        Artist.append(i.text)
        
#Scraping the last week rank by passing xpath
last_week = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--last"]')

#Making a list and storing all the scraped data into it
Last_week=[]
for i in last_week:
    if i.text is None :
        Last_week.append("-")
    else:   
        Last_week.append(i.text)
        
#Scraping the peak rank by passing xpath
peak = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--peak"]')

#Making a list and storing all the scraped data into it
Peak=[]
for i in peak:
    if i.text is None :
        Peak.append("-")
    else:
        Peak.append(i.text)
        
#Scraping the weeks on board by passing xpath
weeks_on_board = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--week"]')
#Making a list and storing all the scraped data into it
Weeks_on_Board=[]
for i in weeks_on_board:
    if i.text is None :
        Weeks_on_Board.append("-")
    else:
        Weeks_on_Board.append(i.text)

In [366]:
#Saving all the scraped data into a DataFrame(Billboard)
Billboard=pd.DataFrame({})
Billboard['Song name']=Song 
Billboard['Artist name']=Artist 
Billboard['Last week rank']=Last_week 
Billboard['Peak rank']=Peak
Billboard['Weeks on Board']=Weeks_on_Board
#Viewing the DataFrame
Billboard

,Song name,Artist name,Last week rank,Peak rank,Weeks on Board
0,Drivers License,Olivia Rodrigo,1,1,7
1,Up,Cardi B,5,2,3
2,Go Crazy,Chris Brown & Young Thug,8,3,42
3,34+35,Ariana Grande,2,2,17
4,Blinding Lights,The Weeknd,4,1,64
...,...,...,...,...,...
95,The Business,Tiesto,-,96,1
96,Hello,Pop Smoke Featuring A Boogie Wit da Hoodie,-,97,1
97,Monster,Shawn Mendes & Justin Bieber,91,8,14
98,Track Star,Mooski,-,99,1
99,Like I Want You,Giveon,95,95,2

In [367]:
#Closing the driver
driver.close()

7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location

In [230]:
# Opening the Chromedriver
driver = webdriver.Chrome("chromedriver.exe")

In [231]:
#Opening the naukri website
driver.get("https://www.naukri.com/")

In [232]:
#Clicking on Recruiters
driver.find_element_by_xpath('//*[@id="root"]/div[1]/div/ul[1]/li[2]/a').click()

In [233]:
search=driver.find_element_by_xpath('//div[@class="inpWrap"]/input')
search.send_keys('Data science')

8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [347]:
# Opening the Chromedriver
driver = webdriver.Chrome("chromedriver.exe")

In [384]:
#Clicking on books
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [429]:
# Scraping the book names
book=driver.find_elements_by_xpath('//tr[@class="odd"]/td[2]')

Book=[]
for i in author:
    if i.text is None :
        Book.append("-") 
    else:
        Book.append(i.text)
# Scraping the author names      
author=driver.find_elements_by_xpath('//tr[@class="odd"]/td[3]')

Author=[]
for i in author:
    if i.text is None :
        Author.append("-") 
    else:
        Author.append(i.text)
# Scraping the volumes        
volumes=driver.find_elements_by_xpath('//tr[@class="odd"]/td[4]')

Volumes=[]
for i in volumes:
    if i.text is None :
        Volumes.append("-") 
    else:
        Volumes.append(i.text)
 # Scraping the  publishers       
publisher=driver.find_elements_by_xpath('//tr[@class="odd"]/td[5]')

Publisher=[]
for i in publisher:
    if i.text is None :
        Publisher.append("-") 
    else:
        Publisher.append(i.text)
 # Scraping the genres       
genre=driver.find_elements_by_xpath('//tr[@class="odd"]/td[6]')

Genre=[]
for i in genre:
    if i.text is None :
        Genre.append("-") 
    else:
        Genre.append(i.text)

In [430]:
#Saving all the scraped data into a DataFrame
Novels=pd.DataFrame({})
Novels['Book Name']=Book
Novels['Author Name']=Author
Novels['Volumes sold']=Volumes
Novels['Publisher']=Publisher
Novels['Genre']=Genre 
#Viewing the DataFrame
Novels

,Book Name,Author Name,Volumes sold,Publisher,Genre
0,"Rowling, J.K.","Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
1,"Rowling, J.K.","Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
2,"Rowling, J.K.","Rowling, J.K.","3,583,215",Bloomsbury,Children's Fiction
3,"Rowling, J.K.","Rowling, J.K.","3,377,906",Bloomsbury,Children's Fiction
4,"Rowling, J.K.","Rowling, J.K.","2,950,264",Bloomsbury,Children's Fiction
5,"Meyer, Stephenie","Meyer, Stephenie","2,315,405","Little, Brown Book",Young Adult Fiction
6,"James, E. L.","James, E. L.","2,193,928",Random House,Romance & Sagas
7,"Meyer, Stephenie","Meyer, Stephenie","2,152,737","Little, Brown Book",Young Adult Fiction
8,"Meyer, Stephenie","Meyer, Stephenie","2,052,876","Little, Brown Book",Young Adult Fiction
9,"Haddon, Mark","Haddon, Mark","1,979,552",Random House,General & Literary Fiction
10,"Bryson, Bill","Bryson, Bill","1,852,919",Transworld,Popular Science
11,"Meyer, Stephenie","Meyer, Stephenie","1,787,118","Little, Brown Book",Young Adult Fiction
12,"Donaldson, Julia","Donaldson, Julia","1,781,269",Pan Macmillan,Picture Books
13,"Hosseini, Khaled","Hosseini, Khaled","1,629,119",Bloomsbury,General & Literary Fiction
14,"Hosseini, Khaled","Hosseini, Khaled","1,583,992",Bloomsbury,General & Literary Fiction
15,"Niffenegger, Audrey","Niffenegger, Audrey","1,546,886",Random House,General & Literary Fiction
16,"Fielding, Helen","Fielding, Helen","1,508,205",Pan Macmillan,General & Literary Fiction
17,"Bernieres, Louis de","Bernieres, Louis de","1,352,318",Random House,General & Literary Fiction
18,"Martel, Yann","Martel, Yann","1,310,176",Canongate,General & Literary Fiction
19,"Pelzer, Dave","Pelzer, Dave","1,217,712",Orion,Autobiography: General
20,"McCourt, Frank","McCourt, Frank","1,204,058",HarperCollins,Autobiography: General
21,"Pullman, Philip","Pullman, Philip","1,181,503",Scholastic Ltd.,Young Adult Fiction
22,"Rowling, J.K.","Rowling, J.K.","1,153,181",Bloomsbury,Science Fiction & Fantasy
23,"Parsons, Tony","Parsons, Tony","1,130,802",HarperCollins,General & Literary Fiction
24,"McCall Smith, Alexander","McCall Smith, Alexander","1,115,549","Little, Brown Book","Crime, Thriller & Adventure"
25,"Ahern, Cecelia","Ahern, Cecelia","1,107,379",HarperCollins,General & Literary Fiction
26,"Zafon, Carlos Ruiz","Zafon, Carlos Ruiz","1,092,349",Orion,General & Literary Fiction
27,"Grisham, John","Grisham, John","1,087,262",Random House,"Crime, Thriller & Adventure"
28,"Pullman, Philip","Pullman, Philip","1,037,160",Scholastic Ltd.,Young Adult Fiction
29,"Smith, Delia","Smith, Delia","1,015,956",Random House,Food & Drink: General
30,"Boyne, John","Boyne, John","1,004,414",Random House Childrens Books G,Young Adult Fiction
31,"Pullman, Philip","Pullman, Philip","1,002,314",Scholastic Ltd.,Young Adult Fiction
32,"Gray, John","Gray, John","992,846",HarperCollins,Popular Culture & Media: General Interest
33,"Lewycka, Marina","Lewycka, Marina","986,115",Penguin,General & Literary Fiction
34,"Tolkien, J. R. R.","Tolkien, J. R. R.","967,466",HarperCollins,Science Fiction & Fantasy
35,"Rubenfeld, Jed","Rubenfeld, Jed","962,515",Headline,"Crime, Thriller & Adventure"
36,"Coelho, Paulo","Coelho, Paulo","956,114",HarperCollins,General & Literary Fiction
37,"Bryson, Bill","Bryson, Bill","931,312",Transworld,Travel Writing
38,"Fielding, Helen","Fielding, Helen","924,695",Pan Macmillan,General & Literary Fiction
39,"McKenna, Paul","McKenna, Paul","905,086",Transworld,Fitness & Diet
40,"Grisham, John","Grisham, John","869,671",Random House,"Crime, Thriller & Adventure"
41,"Lawson, Nigella","Lawson, Nigella","862,602",Random House,Food & Drink: General
42,"Edwards, Kim","Edwards, Kim","845,858",Penguin,General & Literary Fiction
43,"Hornby, Nick","Hornby, Nick","828,215",Penguin,General & Literary Fiction
44,"Dawkins, Richard","Dawkins, Richard","816,907",Transworld,Popular Science
45,"Smith, Zadie","Smith, Zadie","815,586",Penguin,General & Literary Fiction
46,"Zusak, Markus","Zusak, Markus","809,641",Transworld,General & Literary Fiction
47,"Harris, Robert","Harris, Robert","807,311",Random House,General & Literary Fiction
48,"Collins, Suzanne","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
49,"Oliver, Jamie","Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [458]:
#Closing the driver
driver.close()

9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [ ]:
# Opening the Chromedriver
driver = webdriver.Chrome("chromedriver.exe")

In [48]:
# Opening the IMDB website
driver.get("https://www.imdb.com/list/ls095964455/")

In [150]:
# Scraping the title of the webseries
title=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
# Scraping the year span of the webseries
year=driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']")
# Scraping the genre of the webseries
genre=driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[5]")
# Scraping the runtime of the webseries
runtime = driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[3]")
# Scraping the tratings of the webseries
ratings=driver.find_elements_by_xpath('//div[@class="ipl-rating-widget"]/div[1]')
# Scraping the votes of the webseries
votes=driver.find_elements_by_xpath('//div[@class="lister-item-content"]/p[4]/span[2]')

#Making a list and storing all the scraped titles into it
Title=[]
for i in title:
    if i.text is None :
        Title.append("-") 
    else:
        Title.append(i.text)
#Making a list and storing all the scraped years into it
Year=[]    
for i in year:
    if i.text is None :
        Year.append("-") 
    else:
        Year.append(i.text)
#Making a list and storing all the scraped genres into it        
Genre=[]
for i in genre:
    if i.text is None :
        Genre.append("-") 
    else:
        Genre.append(i.text)
#Making a list and storing all the scraped runtime into it        
Runtime=[]
for i in runtime:
    if i.text is None :
        Runtime.append("-") 
    else:
        Runtime.append(i.text)
#Making a list and storing all the scraped ratingss into it        
Ratings=[]
for i in ratings:
    if i.text is None :
        Ratings.append("-") 
    else:
        Ratings.append(i.text)
#Making a list and storing all the scraped votes into it        
Votes=[]
for i in votes:
    if i.text is None :
        Votes.append("-") 
    else:
        Votes.append(i.text)

In [152]:
#Saving all the scraped data into a DataFrame
Series=pd.DataFrame({})
Series['Title']=Title 
Series['Year span']=Year
Series['Genre']=Genre
Series['Run time']=Runtime
Series['Ratings']=Ratings
Series['Votes']=Votes
#Viewing the DataFrame
Series

,Title,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,778,536"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"829,100"
2,The Walking Dead,(2010– ),"Drama, Horror, Thriller",44 min,8.2,"856,914"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"257,239"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"217,791"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"43,768"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"54,100"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"162,283"
98,Scream: The TV Series,(2015–2019),"Crime, Drama, Horror",45 min,7.2,"34,207"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"183,930"

In [ ]:
#Closing the driver
driver.close()

10. Details of Datasets from UCI machine learning repositories.
 Url = https://archive.ics.uci.edu/
 You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year

In [117]:
# Opening the Chromedriver
driver = webdriver.Chrome("chromedriver.exe")

In [118]:
driver.get("https://archive.ics.uci.edu/")

In [119]:
# Viewing all the datasets by passing xpath
driver.find_element_by_xpath("/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b").click()

In [159]:
#Scraping the data by passing xpath 
name = driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[1]")
#Making a list and storing all the scraped names into it
Name=[]
for i in name:
    if i.text is None :
        Name.append("-") 
    else:
        Name.append(i.text)
#Scraping the data by passing xpath         
datatype=driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[2]")
#Making a list and storing all the scraped datatypes into it
Datatype=[]
for i in datatype:
    if i.text is None :
        Datatype.append("-") 
    else:
        Datatype.append(i.text)
#Scraping the data by passing xpath
task = driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[3]")
#Making a list and storing all the scraped tasks into it
Task=[]
for i in task:
    if i.text is None :
        Task.append("-") 
    else:
        Task.append(i.text)
#Scraping the data by passing xpath
attribute_types = driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[4]")
#Making a list and storing all the scraped attribute types into it
Attribute_types=[]
for i in attribute_types:
    if i.text is None :
        Attribute_types.append("-") 
    else:
        Attribute_types.append(i.text)
#Scraping the data by passing xpath
Instances_no = driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[5]")
#Making a list and storing all the scraped instances number into it
Instances=[]
for i in Instances_no:
    if i.text is None :
        Instances.append("-") 
    else:
        Instances.append(i.text)
#Scraping the data by passing xpath
Attributes_no = driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[6]")
#Making a list and storing all the scraped no. of attributes into it
Attributes=[]
for i in Attributes_no:
    if i.text is None :
        Attributes.append("-") 
    else:
        Attributes.append(i.text)
        
#Scraping the data by passing xpath
year = driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[7]")
#Making a list and storing all the scraped years into it
Year=[]
for i in year:
    if i.text is None :
        Year.append("-") 
    else:
        Year.append(i.text)

In [167]:
#Checking the length of all the columns
print(len(Name),len(Datatype),len(Attribute_types),len(Instances),len(Attributes),len(Year))

586 586 586 586 586 586

In [163]:
#Saving all the scraped data into a DataFrame(UCI)
UCI=pd.DataFrame({})
UCI['Dataset Name']=Name
UCI['Data Type']=Datatype
UCI['Attribute Type']=Attribute_types
UCI['No of Instances']=Instances
UCI['No of Attribute']=Attributes
UCI['Year']=Year
#Viewing the DataFrame
UCI

,Dataset Name,Data Type,Attribute Type,No of Instances,No of Attribute,Year
0,Name,Data Types,Attribute Types,# Instances,# Attributes,Year
1,Abalone,Multivariate,"Categorical, Integer, Real",4177,8,1995
2,Adult,Multivariate,"Categorical, Integer",48842,14,1996
3,Annealing,Multivariate,"Categorical, Integer, Real",798,38,
4,Anonymous Microsoft Web Data,,Categorical,37711,294,1998
...,...,...,...,...,...,...
581,Wisesight Sentiment Corpus,"Multivariate, Text",,26737,4,2020
582,AI4I 2020 Predictive Maintenance Dataset,"Multivariate, Time-Series",Real,10000,14,2020
583,Dry Bean Dataset,Multivariate,"Integer, Real",13611,17,2020
584,in-vehicle coupon recommendation,Multivariate,,12684,23,2020
585,Gait Classification,Multivariate,Real,48,321,2020

In [ ]:
#Closing the driver
driver.close()